body {
  background-color:#D3D3D3;
    }

h1 {
  font-family: Georgia, serif;
  font-size: large;
  color: ##00008B;
    
}

h2 {
  font-family: Arial, sans-serif;
  font-size: medium;
  color: #DEOC78;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: small;
  color: black;
}

main {
  margin: 25px;
  padding: 25px;
  height: 150px;
  text-align: center;
}
/* centers all of the main body text to the middle of the page */

a:link {
  color: e75480;
}

a:visited {
  color: blue;
}

a: hover {
  color: purple;
}

ul {
  text-align: center;
}

ol {
  text-align: center;
}
